* {
    margin: 0;
    padding: 0;
}
.calender-box {
    display: grid;
    grid-template-columns: auto auto;
    align-content: flex-end;
}
.timeSlots {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
button {
    margin: 20px;
}
.availableStatus {
    color: green;
}
li {
    color: green;
}
li span {
    color: skyblue;
}